{% extends 'base.html' %}
{% load static %}

{% block title %}
    Log in
{% endblock title %}


{% block content %}
    <h1>Welcome Admin!</h1>
    <form action="/bank_admin" method="POST" >

        {% csrf_token %}

            {% for field in form %}
            <div class = "form-control {% if field.errors %} errors {% endif %}">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
            {% endfor %}
            
            
            <button type="submit">Log in</button>
            {% if msg %}
                <p style = " color: red; ">{{msg}}</p>
            {% endif %}

    </form>
    
{% endblock content %}